@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
    margin: 0 10px 0 10px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 5px;
    background-color: rgb(43, 173, 199);
    border: 1px solid black;
}

.outer-container {
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
}

.outer-container p.p-outer-container {
    position: absolute;
    left: 675px;
    /* text-align: end; */
    background-color: aqua;
}

.inner-container {
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
    position: relative;
}

/* .p-outer-container {
    position: absolute;
} */

/* .p-inner-container {
    position: absolute;
    text-align: end;
    background-color: aqua;
    border: 1px solid red;
} */

.inner-container p.p-inner-container {
    position: absolute;
    left: 285px;
    background-color: aqua;
    /* text-align: end; */
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

.absolute {
    /* out of flow, positioned to nearest postitoned ancestor */
    background-color: yellow;
    /* position: static; */
    /* this is a reset */
    /* position: absolute; */
    position: relative;
    top: 0px;
    left: 100px;
}

.relative {
    /* in flow, positioned relative to static position in flow */
    background-color: orange;
    position: relative;
    top: 0px;
    left: 0px;
}

.fixed {
    /* not in flow, positioned relative to viewport */
    background-color: green;
    position: fixed;
    top: 775px;
}

.sticky {
    /* in flow, like relative (positioned relative to static position in flow) until hits position, then acts like fixed (not in flow, positioned relative to viewport)  */
    background-color: lightblue;
    position: sticky;
    top: 500px;
}