@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
    /* margin: 0 10px 0 10px; */
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 5px 0 10px 0;
    padding: 5px;
    background-color: rgb(43, 173, 199);
    border: 1px solid black;
}

.outer-container {
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
}

.outer-container p.p-outer-container {
    position: absolute;
    left: 80%;
    top: 1%;
    /* position: relative; */
    /* left: 675px; */
    /* text-align: end; */
    background-color: aqua;
    z-index: 2;
}

.inner-container {
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
    position: relative;
}

.inner-container p.p-inner-container {
    position: absolute;
    left: 62%;
    top: 1%;
    /* position: relative; */
    /* left: 285px; */
    background-color: aqua;
    z-index: 2;
    /* text-align: end; */
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

.absolute {
    /* out of flow, positioned to nearest postitoned ancestor */
    background-color: yellow;
    /* position: static; */
    /* this is a reset */
    /* position: absolute; */
    position: absolute;
    top: 0px;
    left: 20px;
}

.relative {
    /* in flow, positioned relative to static position in flow */
    background-color: orange;
    position: relative;
    /* top: 100px; */
    top: 0px;
    left: 200px;
}

.sticky {
    /* in flow, like relative (positioned relative to static position in flow) until hits position, then acts like fixed (not in flow, positioned relative to viewport)  */
    background-color: lightblue;
    position: sticky;
    top: 0px;
    /* top: 500px; */
}

.fixed {
    /* not in flow, positioned relative to viewport */
    background-color: green;
    position: fixed;
    top: 775px;
    top: 775px;
    left: 400px;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.green {
    background-color: green;
}

header,
footer {
    color: #fff;
    text-align: center;
    height: 100px;
}

header {
    font-size: 5rem;
    position: sticky;
    top: 0;
}

footer {
    font-size: 3rem;
    background-color: #333;
    /* position: fixed; */
    position: sticky;
    bottom: 0;
    width: 100%;
}

a:visited {
    color: #fff;
}

.social {
    color: #fff;
    background-color: royalblue;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;

}